<div class="row">
    <div class="col-6">
        <a asp-action="RetrieveInvoice" class="btn btn-info form-control">Retrieve</a>

    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-success form-control">Create Invoice</a>
    </div>
</div>